table,
table tr,
table td,
table th {
  border: none !important;
}

.dropDownDepartmentSelector {
  width: 100%;
  font-size: 16px;
  color: #495057;
  font-weight: 500;
  padding: 8px 15px; 
  box-shadow: none;
}