/* You can add global styles to this file, and also import other style files */
@import "src/assets/scss/main.scss";
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/themes/dark.scss";
@import "~@swimlane/ngx-datatable/themes/bootstrap.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

.login-card {
  height: 29rem;
}
.card .header .header-dropdown {
  height: 30px;
  width: 100px;
}

.newline-content{
  white-space:pre-wrap;
}

.icon-cursor-pointer {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 5px;
}

.datatable-footer {
  background: none !important;
  color: var(--color-600) !important;
}

.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: var(--color-600) !important;
}
.fs-13-px {
  font-size: 13px !important;
}
.fs-30-px {
  font-size: 30px !important;
}
.fs-100-px {
  font-size: 100px !important;
}

.hover {
  cursor: pointer !important;
}
.modal-dialog {
  margin: 10% auto !important;
}

.follow_us li {
  display: inline-block !important;
  margin: 5px 0px !important;
}

.badge-primary {
  background-color: #e47297;
  color: #fff;
  border-color: #e47297;
}

.file_manager .file img{
  border-radius: 0.55rem 0.55rem 0 0;
}  

.nestable-item-container{
  padding-left: 0 !important;
}

.datatablesearch-style{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
  color: var(--color-600);
  margin-left: 5px;
}

// click option
.customContextDiv {
  position: absolute;
  right: 5px;
  top: 10px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.customContextOption {
  width: 200px;
  z-index: 10000000;
}
.customContextOption li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid rgba($color: #ddd, $alpha: 0.5);
  color: #585858;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
  transition: 0.2s all;
}
.customContextOption li:hover {
  background-color: #e47297;
  color: #fff;
}

.customContexticon i {
  color: #000;
  padding: 3px;
  // font-size: 20px;
  text-shadow: 1px 1px 3px #ddd;
}